body {font-family: 'Open Sans', sans-serif; background: #f0f0f0; height: 3000px;}
a {color: #000; outline: 0;}
a:hover, a:focus, a:active {text-decoration: none; color: #000; outline: 0;}
h1, h2, h3, h4 {color: #525252;}

/* -------------- Form styles ----------------*/
form input, form textarea, form select {min-height: 30px; padding: 5px 10px; width: 100%; border: 1px solid #ccc; 
	border-radius: 0; margin-top: 0;}
form label {margin-top: 5px; font-size: 1.1em; font-weight: 400;}
.image-input {border-radius: 0px; min-height: 30px;}
.form-button {width: auto; margin: 15px auto; display: block; border-radius: 5px; 
	background: #58c55b; color: #fff; border: 1px solid #58c55b;}
.form-button:hover, .form-button:active, .form-button:focus {background: #fff; color: #58c55b; border-color: #58c55b;}

/* -------------- Navbar styles ----------------*/
.navbar {background: white; min-height: 90px; margin-bottom: 0; border-bottom: none; box-shadow: 0px 0px 15px #eee;}
.navbar-default .navbar-brand {color: #58c55b; padding-top: 0; height: 90px; 
	padding-top: 5px; font-weight: 600; font-size: 1.8em; letter-spacing: 2px;}
.navbar-default .navbar-brand {padding-top: 20px;}
.navbar-default .navbar-brand img {height: 50px;}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {color: #58c55b;}
.navbar-default .navbar-nav li {height: 90px;}
.navbar-default .navbar-nav li a {color: #58c55b; height: 90px; padding: 35px 15px 0; font-size: 1.1em; font-weight: 400; letter-spacing: 0.3px;}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {color: #58c55b; border-bottom: 4px solid #58c55b;} 
.navbar-default .navbar-nav li .glyphicon {margin-right: 10px;}
.navbar-default .navbar-toggle {border: none; margin-top: 30px;}
.navbar-default .navbar-toggle .icon-bar {background: #58c55b;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {background: none;}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {background: #58c55b;}

/* -------------- Home page full-width styles ----------------*/
.full-width {position: relative; overflow: hidden; z-index: -5; min-height: 450px;}
.full-width img {position: absolute; top: 0; z-index: -5; width: 100%; min-height: 100%;}
.full-width h1 {width: 730px; color: #58c55b; font-size: 5em; background: rgba(0, 0, 0, 0.8);
	padding: 20px 0; margin: 20% auto 0; font-weight: 300;}
.fullwidth-arrow {float: left; width: 100%; position: relative; top: -60px;}
.fullwidth-arrow p {font-size: 2em; height: 60px; margin: 0; padding-top: 15px;}
.fullwidth-arrow a {color: #58c55b;}

/* -------------- Cause view styles ----------------*/

.cause {margin-top: 50px; float: left; border-radius: 5px; background: #fff;}
.cause .left {padding: 0;}
.cause .main-img {border-radius: 5px;}
.cause h1 {color: #111; font-size: 3em; font-weight: 300; margin-top: 10px;}
.cause .description {margin-top: 30px;}

.cause .user-area {position: absolute; top: 5px; left: 5px; padding-left: 55px; padding-top: 15px;}
.cause .user-link {color: #52c55b; font-weight: 600; font-size: 0.95em;}
.cause .user-link img {width: 50px; position: absolute; top: 0; left: 0; border: 2px solid #fff;}
.cause .user-link:hover img {border-color: #393;}

.cause .details {margin-top: 20px;}
.cause .details .detail {margin-top: 10px;}
.cause .details p {font-size: 1.7em; font-weight: 300;}
.cause .details .glyphicon {color: #52c55b; font-size: 1.5em; position: relative; top: 10px;}

.students {background: #fff; margin-top: 30px; border-radius: 5px;}
.student {margin-top: 10px; border-bottom: 1px solid #eee;}
.student .name {font-size: 1.5em; color: #52c55b;}
.student .glyphicon {font-size: 1.5em; color: #DC143C; margin-top: 5px;}

/* -------------- Contact -----------------------*/

.form-wrap.contact{height: 500px;}
.form-wrap.contact h1{margin-top: 100px; margin-bottom: 40px;}

/* -------------- Register styles ----------------*/

.form-wrap {background: #fff; border-radius: 5px; padding: 15px 30px; margin-top: 30px;}



@media (max-width: 767px) {
	.navbar-default .navbar-brand {padding-top: 20px;}
	.navbar-default .navbar-brand img {height: 50px;}
	.navbar-default .navbar-collapse {border: none;}
	.navbar-default .navbar-nav li {height: 50px; text-align: center;}
	.navbar-default .navbar-nav li a {height: 50px; padding: 15px 15px 0; font-size: 1em; letter-spacing: 1px;}

	.cause {float: none;}
	.cause .right {background: #fff;}

}

@media (min-width: 768px) and (max-width: 991px) {
	.cause .details {margin-top: 0px;}
	.cause .details .detail {margin-top: 10px;}
	.cause .details p {font-size: 1.3em; font-weight: 300;}
	.cause .details .glyphicon {color: #52c55b; font-size: 1.2em; position: relative; top: 10px;}
 }

@media (min-width: 992px) and (max-width: 1199px) {
	.cause .details {margin-top: 20px;}
	.cause .details .detail {margin-top: 10px;}
	.cause .details p {font-size: 1.3em; font-weight: 300;}
	.cause .details .glyphicon {color: #52c55b; font-size: 1.2em; position: relative; top: 10px;}
}

@media (min-width: 1200px) and (max-width: 1599px) {

}

@media (min-width: 1600px) {


}
